<app-header [showMenu]="true" title="Perfil"></app-header>
<ion-content class="ion-padding-top ion-text-center">
  <ion-avatar>
    <img *ngIf="user()?.image" [src]="user()?.image" />

    <ion-icon
      *ngIf="!user()?.image"
      class="empty-icon"
      name="person-circle-outline"
    ></ion-icon>
  </ion-avatar>

  <ion-button
    class="photo-btn"
    (click)="takeImage()"
    mode="ios"
    size="small"
    shape="round"
  >
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <h2 (click)="editar('name', 'nombre')">{{user().name}}</h2>
  <div>{{ userRole }}</div>
  <div *ngIf="userRole != 'Dueño'" (click)="editar('direccion', 'direccion')">
    {{user().direccion}}
  </div>
</ion-content>
